// Colours
$dark_blue: #18202b;
$med_blue: #202938;

$light_grey: #c1c8cf;
$white: #ffffff;

$yellow: #ede254;
$green: #73d765;
$red: #d43934;

// Measurements
$app_container_lg: 600px;
$app_container_md: 430px;
$app_container_sm: 320px;